#img-bg {
  background-image: url("../../assets/img/logar.jpg");
  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cor {
  background-color: #bbe89d;
}
